<div class="container text-center">

<h2>This is the about page</h2>
<p>Talk about the stats on how bad it is. What our goal is.
Look at old notes on how bad CPS really is. Make it look professional
Maybe look at udemy html pages.
</p>

</div>